@model TradersDiary.Models.DealBO

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Deal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
    
    <form asp-action="DeleteBo">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад.</a>
    </form>
</div>
